
body {
    background: #eeeeee;
}
.table tr {
    height: 50px;
}
.table tr td {
    font-family: "微软雅黑 Light";
    font-size: 18px;
}
.table tr th {
    font-family: "微软雅黑 Light";
    font-size: 18px;
}
.table thead {
    font-family: "微软雅黑 Light";
    font-size: 20px;
}
.table tr td form {
    height: 20px;
}
/*-----------阶段编辑-----------*/
.pro-gname {
    line-height: 40px !important;
}
.redact {
    margin: 70px auto;
    padding: 20px 20px 80px 20px;
    width: 1100px;
    background: white;
    box-shadow: rgba(0,0,0,.0470588) 0 2px 3px 0;
}
.shadow input{
    border-radius: 5px;
    padding-left: 5px;
    height: 40px;
    background-color: #eeeeee;
}
.delete-btn input {
    color: white;
    text-align: center;
    height: 40px;
    width: 80px;
    border-radius: 4px;
    background-color: coral;
}
.delete-btn input:hover {
    background-color: #ea2000;
}
.save-revise,.add-stage {
    float: right;
    text-align: center;
    color: #3DA8F5;
    width: 90px;
    height: 36px;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #3da8f5;
    margin-left: 30px;
}
.save-revise:hover,.add-stage:hover {
    color: white;
    background-color: #3DA8F5;
}