 
        #intro2
        {
            margin-top: 20px;
        }
        #intro2 p
        {
           line-height: 30px;
           text-indent: 30px;
       }
       h1
       {
        font-size: 30px;
        text-align: center;
       }
       #intro a
       {
        font-family: "微软雅黑";
       }
       .pull
       {
        font-size:15px;
        text-align: center;
        padding-top: 15px;
       }
       .page-header
        {
          font-family: "微软雅黑";
          color:gray;
          font-size:25px;
          display:block;
        }
        .icons
        {
          margin-top: 15px;
        }

       /*comment*/



       /*评论区*/
       .comment
       {
         width: 100%

       }
       .comment-zone
       {
            background:;
            height:170px;
            margin: 20px 0;
            width: 100%;          
            border: 1px solid #ccc;     
            transition: border linear .2s, box-shadow linear .5s;     
            -moz-transition: border linear .2s, -moz-box-shadow linear .5s;     
            -webkit-transition: border linear .2s, -webkit-box-shadow linear .5s;     
            -moz-border-radius: 5px;     
            -webkit-border-radius: 5px;     
            border-radius: 5px;     
            background-color: #fff;       
            position: relative;     
            -moz-box-shadow: 0 0 5px #ccc;     
            -webkit-box-shadow: 0 0 5px #ccc;     
            box-shadow: 0 0 5px #ccc;     

       }
       .col-md-1
       {
        padding:10px 10px;
        height: 170px;
        border-right: 1px solid #ccc;  
        transition: border linear .2s, box-shadow linear .5s;    

       }
       .col-md-1 img
       {
        margin: 0 auto;
       }
       .col-md-1 p
       {
        text-indent: 10px;
       }
    /*   .comment-word
       {
        border: 1px solid #ccc; 
        height: 80%;
        margin: 0 30px;
       }*/
       .comment-word p
       {
        font-size: 18px;
        padding: 10px 10px;
        font-family: "微软雅黑";
       }
       .date
       {
        font-size: 15px;
        color: gray;
        position: absolute;
        bottom: 35px;
        right: 10px;
       }
       .bottom
       {
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 5px 5px;
       }
       .bottom a
       {
        font-size: 15px;
        font-family:"宋体" ;
        color: gray;
        margin: 0 10px;
       }
       .bottom a:hover
       {
        color: #3a7dbb;
       }
       /*我要评论*/
        .Input_Box {     
            width: 100%;     
            height: 160px;     
            border: 1px solid #ccc;     
            transition: border linear .2s, box-shadow linear .5s;     
            -moz-transition: border linear .2s, -moz-box-shadow linear .5s;     
            -webkit-transition: border linear .2s, -webkit-box-shadow linear .5s;     
            -moz-border-radius: 5px;     
            -webkit-border-radius: 5px;     
            border-radius: 5px;     
            background-color: #fff;     
            overflow: hidden;     
            position: relative;     
            -moz-box-shadow: 0 0 5px #ccc;     
            -webkit-box-shadow: 0 0 5px #ccc;     
            box-shadow: 0 0 5px #ccc;     
        }     
        .Input_Box>textarea {     
            width: 100%;     
            height: 119px;     
            padding: 5px;     
            outline: none;     
            border: 0px solid #fff;     
            resize: none;     
            font: 13px "微软雅黑", Arial, Helvetica, sans-serif;     
            -moz-border-radius: 5px;     
            -webkit-border-radius: 5px;     
            border-radius: 5px;     
        }     
        .Input_Foot {     
            width: 100%;     
            height: 35px;     
            border-top: 1px solid #ccc;     
            background-color: #fff;     
            -moz-border-radius: 0 0 5px 5px;     
            -webkit-border-radius: 0 0 5px 5px;     
            border-radius: 0 0 5px 5px;     
            position: absolute;     
        }     
        .imgBtn {     
            float: ;     
               
            background-image: url(imgs.png);     
            background-repeat: no-repeat;     
            background-position: 0 -13px;     
            height: 18px;     
            width: 20px;     
            cursor: pointer     
        }     
        .imgBtn:active {     
            margin-top: 9px;     
        }     
        .imgBtn:hover {     
            background-position: 0 -31px     
        }     
        .postBtn {     
            float: right;     
            font: 13px "微软雅黑", Arial, Helvetica, sans-serif;     
            color: #808080;     
            padding: 9px 20px 7px 20px;     
            border-left: 1px solid #ccc;     
            cursor: pointer;     
            -moz-border-radius: 0 0 5px 0;     
            -webkit-border-radius: 0 0 5px 0;     
            border-radius: 0 0 5px 0;     
        }     
        .postBtn:hover {     
            color: #333;     
            background-color: #efefef;     
        }     
        .postBtn:active {     
            padding: 10px 20px 6px 20px;     
        }     
        .faceDiv {     
            width: 500px;     
            height: 120px;     
            border-top: 1px solid #ccc;     
            position: absolute;     
            background-color: #fff;     
            -moz-border-radius: 5px 5px 0 0;     
            -webkit-border-radius: 5px 5px 0 0;     
            border-radius: 5px 5px 0 0;     
        }     
        .faceDiv>img {     
            border: 1px solid #ccc;     
            float: left;     
            margin-left: -1px;     
            margin-top: -1px;     
            position: relative;     
            width: 24px;     
            height: 24px;     
            padding: 3px 3px 3px 3px;     
            cursor: pointer;     
        }     
        .faceDiv>img:hover {     
            background-color: #efefef;     
        }     
        .faceDiv>img:active {     
            padding: 4px 3px 2px 3px;     
        }    