.video
{
    padding: 50px 0 80px 100px;

}
#myTab 
{
 font-family: "微软雅黑"
}

/*标题*/

.block_title
{
  font-family: "微软雅黑";
    font-weight: 300;
    overflow: hidden;
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 3.5em;
    color: #ef6286;
}
/*
.block_title:before,
.block_title:after {
    content: "";
    background: #ccc;
    display: inline-block;
    height: 1px;
    position: relative;
    width: 42%;
    vertical-align: middle;
}
.block_title:before {
    right: 0.5em;
    margin-left: -42%;
}
.block_title:after {
    left: 0.5em;
    margin-right: -42%;
}
*/
/*视频*/
.dwf-playvideo
{
    height: 800px;
}
.youku
{
   width: 100%;
   height: 100%;
}
/*缩略图*/
.thumbnails
{
    margin-top: 50px;
    height: 350px;
}
.thumbnails ul a:hover
{

}
.thumbnail
{
    height: 300px;
    width: 100%;
}
.thumbnails p
{
    text-align: center;
    font-family: "微软雅黑";
    font-size: 17px;
    margin-top: -15px;
    margin-bottom: 10px;
    font-weight: 500;
    color: gray;
}
.thumbnails span 
{
    font-family: "微软雅黑";
    font-size: 16px;
    font-weight: 500;
    color: gray
}
.thumbnails p:hover
{
    color: black;
}
.thumbnails>.active
{
    margin-left: 60px;
}



/*简介*/
.container h2
{
    font-size: 25px;
    color: black;
    font-family: "微软雅黑";
}
.container
{
    margin-top: 50px;
}
.container p,
.container h5 
{
    font-size: 17px;
    color: black;
    font-family: "微软雅黑";
    line-height: 20px;
    margin-top: 15px;
}

/*推荐*/
.wonderful img
{
    height: 250px;
    
}
.wonderful span
{

}













.foot
{
    height: 300px;
    width: 100%;
    background-color: black;
    margin-top: 50px;
}