

 a {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
a:hover {
    color: black;
    text-decoration: none;
}


/*附加导航栏*/
.first
{
  margin-top: 50px;
  width: 300px;
  background-color: white;
  font-family: "微软雅黑";
  position:fixed;

}

.first .collapse li 
{
  padding: 0;
  margin: 0;
  
  background-color:white; 
  margin-left: ;
  text-indent: 30px;
}
 .navbar {

    border-radius: 0;
    background: transparent;
    border: none;
   
}
.navbar-nav,.navbar-nav li {
    float: none;
    color: black;

   
}
.navbar-nav>li>a {
    color:black;
    font-size: 17px;
    font-weight: 300;
    letter-spacing:1.5px;
    text-transform: uppercase;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}
  .navbar-nav>li>a:hover {
    background: #faf8ed;
    opacity: 0.8;
    width: 100%;
}
  .navbar-nav>.active>a,  .navbar-nav>.active>a:hover,  .navbar-nav>.active>a:focus {
    background: transparent;
    color: #9B59B6;
    width: 100%;
}

/*中间*/

.page-header
{
  font-family: "微软雅黑";
  font-size: 45px;
  color: #ef6286;
  display:block;
}
.item-intro
{
    padding-top: 50px;   
}
.page-header small
{
  color: #ef6286
}


.third
{
  margin: 0;
  background-color: white;
  height:100%;
  font-family: "微软雅黑";
}

.third .collapse li 
{
  
  padding: 0;
  margin: 0;
  width: 100%;
  background-color:white; 
  margin-left: -15px;
  text-indent: 30px;
}
.col-md-4
{
  margin: 20px 0 100px 0;
}
.col-md-4 h2
{
  font-family: "微软雅黑";
  text-align: center;
}
.col-md-4 p 
{
  font-family: "微软雅黑";
  line-height: 25px;
}



/*第二次加的*/
.navbar-nav1,.navbar-nav1 li
 {
    float: none;
    width: 220px;
    text-align: left;
    padding-left: 75px;
    border:1px solid black; 
}
.navbar-nav1>li>a 
{
    color: #232a2f;
    font-size: 17px;
    font-weight: 300;
    letter-spacing:1.5px;
    text-transform: uppercase;
    padding-left: 30px;
}
  .navbar-nav1>li>a:hover 
  {
    background: rgba(38, 41, 46, .2);
  }
  .navbar-nav1>.active>a,  .navbar-nav1>.active>a:hover,  .navbar-nav1>.active>a:focus 
  {
    background: transparent;
    color: #9B59B6;
}

.pull2
{
  width: 250px;
  position: fixed;
  padding-left: 50px;
  margin-top: 250px;
}
.foot
{
  background-color: black !important;
}








